html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  color: #333;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: scroll;
}

#swagger-ui {
  padding-top: 2em;
  padding-bottom: 50px;
}

.nshmp-template-header,
.nshmp-template-footer {
  background-color: #3d5e80;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  height: 30px;
  padding: 10px;
  position: fixed;
  width: 100vw;
  z-index: 4;
}

/* ---- Header ---- */

.nshmp-template-header {
  top: 0;
}

.nshmp-template-header .nshmp-template-header--logo {
  height: 28px;
  overflow: hidden;

}

.nshmp-template-header--logo .usgs-logo {
  display: inline-block;
  height: 100%;
  position: relative;

}

.nshmp-template-header--logo .usgs-logo img {
  border: none;
  height: 140%;
  max-width: 100%;
}

/* ---- Footer ---- */

.nshmp-template-footer {
  bottom: 0;
  font-size: large;
  text-align: center;
}

.nshmp-template-footer a {
  color: white;
  cursor: pointer;
  line-height: 30px;
  padding: 0 1em;
  text-decoration: none;
}

.nshmp-template-footer a:visited {
  color: white;
}

/* ---- Disclaimer ---- */

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1460px;
  padding: 0 20px;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .alert {
    line-height: 1.1 !important;
    font-size: 10px !important;
  }
}

.alert {
  background-color: #fff3cd;
  border-color: #ffecb5;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  line-height: 1.5;
  margin: 1em 1em 0 1em;
  overflow: hidden;
  padding: 1.5em 2em;
  position: relative;
  top: 50px;
}

.alert:before {
  content: '\0e002';
  font-family: 'Material Icons';
  font-size: 4.5em;
  left: -.2em;
  line-height: 1;
  opacity: .075;
  position: absolute;
  top: -.2em;
}

details {
  cursor: pointer;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

details:hover {
  background-color: #f3f3f3;
}

details[open] {
  background-color: initial;
  padding: 0 1.5em 1.5em 1.5em;
}

summary {
  font-weight: bold;
  padding: 1.5em;
}

details[open] > summary {
  margin-left: -1.5em;
}
